.text-block {
    padding: 20px;
    text-align: center;
    background-color: #f5f6f8;
}

.text-header {
    text-align: center;
    margin-bottom: 40px;
    color: #373737;
    font-size: 22px;
    letter-spacing: 2px;
}

.text-block p {
    font-size: 16px;
    color: #373737;
    font-weight: 900;
}