@font-face {
    font-family: "Montserrat-Bold";
    src: url("../font/nav/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../font/nav/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat-Light";
    src: url("../font/header/Montserrat-Light.ttf");
}


html, body, .container {
    min-width: 1200px;
}


/* menu and logo position Flex  */

header {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: inherit;
    position: relative;
    background-image: url("../img/background/section-1(header).jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(89, 89, 89, 0.5);
    z-index: 1;
}

nav {
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(73, 71, 63, 0.6);
    z-index: 2;

}

nav .logo_img {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-left: -100px;
    margin-right: 100px;
}

.logo_img p {
    margin-top: 15px;
    margin-left: 8px;
}


/*  logo clean css */


.logo-txt {
    display: inline-block;
    margin-top: 20px;
    margin-left: 8px;
}

.logo-txt span {
    font: 31px "Montserrat-Regular";
    color: #fff;

}

.logo-txt span:nth-of-type(2) {
    font-family: "Montserrat-Bold";
    color: #18cfab;
}

/*  menu */


.menu-list {
    display: flex;

}

.menu-list li {
    display: inline-block;
    flex-grow: 1;
    margin-right: 15px;
    list-style: none;
}

.menu-list li a {
    font: 13px "Montserrat-Bold";
    text-decoration: none;
    color: #b8b8b8;
    text-transform: uppercase;
}

.menu-list li a:hover {
    color: #18cfab;
}

.fas.fa-search {
    color: #b8b8b8;
}

.menu-list li i:hover {
    color: #18cfab;
}

.search {
    color: #b8b8b8;
}


/* header text and button */

.txt-header-center {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 235px;
}

h2, h3 {
    margin: 0;
    padding: 0;
}

.txt_first_theme {
    font: 35px "Montserrat-Bold";
    text-transform: uppercase;
    color: #fff;
    z-index: 5;
}

.txt_first_theme span {
    color: #18cfab;
}

.txt_second_creative {
    margin-top: 11px;
    font: 78px "Montserrat-Bold";
    color: #fff;
    text-transform: uppercase;
    line-height: 1.07;
    z-index: 5;
}

.txt_third_enjoy {
    font: 34px "Montserrat-Light";
    text-transform: capitalize;
    line-height: 2.47;
    color: #d4d4d4;
    margin-top: 1px;
    z-index: 5;
}

.btn-header {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-top: 111px;
    margin-bottom: 244px;
    z-index: 5;
}

.btn-header a, .btn_software {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-right: 28px;
    width: 166px;
    height: 61px;
    font: 13px "Montserrat-Bold";
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #18cfab;
    border-radius: 3px;
    box-shadow: 0 4px #fff inset;
    border: 0;
    z-index: 5;
}

.btn-header a:nth-child(2) {
    background-color: #00cbf6;
}


section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

section:not(.options) {
    padding-left: 20px;
    padding-right: 20px;
}


.options {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

}

.options div {
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center;
}

.options div:nth-child(odd) {
    width: 25%;
    height: 374px;
    background-color: #1c2a33;
}

.options div:nth-child(even) {
    width: 25%;
    height: 374px;
    background-color: #18cfab;
}

.options div:nth-child(odd) p {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 7px;
    background-color: #18cfab;
}

.options div:nth-child(even) p {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 7px;
    background-color: #fff;
}

.options div img {
    margin-top: 88px;
}

.options div span {
    font: 20px "Montserrat-Bold";
    color: #18cfab;
    text-transform: uppercase;
    margin-top: 49px;
}

.options div:nth-child(even) span {
    margin-top: 69px;
    color: #fff;
}

.services {
    padding-top: 74px;
}

.txt_services {
    font: 36px "Montserrat-Regular";
    color: #4e4e4e;
    text-transform: capitalize;
}

.two_line {
    z-index: 5;
}

.two_line hr {
    width: 76px;
    border: none;
    color: #18cfab;
    background-color: #18cfab;
    height: 1px;
}

.first_line {
    margin-top: 29px;
}

.second_line {
    margin-top: -5px;
    margin-left: 25px;
}


.menu_service {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.menu_service li {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 193px;
    height: 69px;
    background-color: #f8fcfe;
    border-top: 1px #ececec solid;
    border-bottom: 1px #ececec solid;
    border-left: 1px #ececec solid;
    list-style: none;
    font: 15px "Montserrat-Regular";
    color: #717171;
    text-transform: capitalize;
    text-decoration: none;
    cursor: pointer;

}

.menu_service li:hover::after{
    content: "";
    border: 13px solid transparent;
    border-top: 13px solid #18cfab;
    position: relative;
    right: 0;
    top: 5px;
    left: 0;
    bottom: 0;
}

.menu_service li:hover p{
    margin-top: 40px;
}

.menu_service li:last-child {
    border-right: 1px #ececec solid;
}

.menu_service .tabs-title:hover {
    background-color: #18cfab;
    color: #fff;
}

.tabs-title.active {
    background-color: #18cfab;
    color: #fff;
}

.tabs_click li {
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-top: -7px;
    list-style: none;
}

.tabs_click li:first-child {
    display: flex;
}

.tabs-txt {
    margin-bottom: 105px;
}

.tabs_click li img {
    margin-right: 20px;
    margin-left: -28px;
    width: 194px;
    height: 139px;
}

.txt_about_tabs {
    width: 927px;
    height: 136px;
    font: 13px "Montserrat-Light";
    color: #777777;
    line-height: 1.81;
}

[hidden] {
    display: none;
}

.software {
    position: relative;
    background-image: url("../img/background/section-2.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 114px;
}

.bg_opacity_software::after {
    width: inherit;
    height: inherit;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}


.txt_first_software {
    font: 40px "Montserrat-Bold";
    color: #18cfab;
    text-transform: uppercase;
    z-index: 2;

}

.txt_second_software {
    font: 16px "Montserrat-Regular";
    color: #d8d8d8;
    text-transform: uppercase;
    margin-top: 24px;
    z-index: 2;

}

.btn_software {
    margin-top: 73px;
    margin-bottom: 127px;
    z-index: 2;
}

.our-work {
    padding-top: 87px;
    background-color: #f8fcfe;
    border-bottom: 1px #e1e1e1 solid;
}


.txt_first_ourWork {
    font: 36px "Montserrat-Regular";
    color: #4e4e4e;
    text-transform: capitalize;
}


.menu_our_work {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}


.menu_our_work li {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 58px;
    border-top: 1px #ebebeb solid;
    border-bottom: 1px #ebebeb solid;
    border-left: 1px #ebebeb solid;
    list-style: none;
}

.menu_our_work li:hover:not(.correct)::before{
    content: "";
    border: 1px #18cfab solid;
    width: 136px;
    position: relative;
    right: 0;
    top: -4px;
    left: 0;
    bottom: 0;
}

.menu_our_work li:first-child:hover::before{
    content: "";
    border: 1px #18cfab solid;
    width: 75px;
    position: relative;
    right: 0;
    top: -4px;
    left: 0;
    bottom: 0;
}

.menu_our_work li:hover a{
    margin-top: -3px;
}


.menu_our_work li:last-child {
    border-right: 1px #ebebeb solid;
}

.menu_our_work li:first-child {
    width: 75px;
}

.menu_our_work li a {
    display: inherit;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    text-decoration: none;
    font: 14px "Montserrat-Regular";
    color: #717171;
    text-transform: capitalize;
}

.menu_our_work li:hover a {
    color: #18cfab;
}

.gallery-our-most {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    justify-content: center;
    margin-top: 55px;
margin-bottom: 71px;
}



.btn_software.softwareClick{
   margin-top: 0;
}

.wrapper-about:hover .about_section_work{
    display: flex;
}

.wrapper-about{
    display: block;
    width: 284px;
    height: 205px;
}

.wrapper-about:hover img{
    display: none;
}

.about_section_work {
    display: none;
    flex-flow: column;
    justify-content: start;
    align-items: center;
    width: 284px;
    height: 205px;
    border-top: 4px #18cfab solid;
    padding-top: 47px;
}

.link-img-about {
    display: block;
}
.link-img-about a{
    float: left;
}


.about_section_work img {
    width: 15px;
    height: 15px;
}

.about_section_work a {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 34px;
    width: 41px;
    height: 40px;
    border-radius: 50%;
    background-color: #18cfab;
    text-decoration: none;
}

.about_section_work .chain_logo_gallery {
    background-color: #fff;
    border: 1px #18cfab solid;
    margin-right: 5px;
}

.chain_logo_gallery{

}

.fas.fa-link {
    color: #18cfab;
}

.fas.fa-search {
    color: #fff;
}

.about_section_work .txt_first_about {
    font: 14px "Montserrat-Bold";
    color: #18cfab;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.about_section_work .txt_second_about {
    font: 12px "Montserrat-Light";
    color: #8a8a8a;
    text-transform: uppercase;
}


.vertical_line_news {
    border-right: 1px #8a8a8a solid;
    margin-left: 5px;
    margin-right: 5px;
}


.gallery-our-most img {
    width: 284px;
    height: 206px;
}

.btn_software {
    margin-top: 70px;
    margin-bottom: 100px;
}

.btn_software i {
    margin-right: 16px;
    margin-top: 2px;
}

.breaking-news {
    padding-top: 76px;
}

.txt_first_news {
    font: 36px "Montserrat-Regular";
    color: #4e4e4e;
}

.calendar_breaking-news {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    justify-content: center;
    grid-column-gap: 28px;
    grid-row-gap: 45px;
    margin-top: 55px;
}

.calendar_breaking-news div {
    position: relative;
    width: 263px;
    height: 280px;
    background-color: #f8fcfe;
}

.calendar_breaking-news div:hover .number_of_day {
    background-color: #18cfab;
}

.calendar_breaking-news div:hover .pictures_tittle {
    color: #18cfab;
}

.calendar_breaking-news a{
    width: inherit;
    height: inherit;
}

.number_of_day {
    position: absolute;
    right: 0;
    width: 68px;
    height: 66px;
    background-color: #203e38;
    text-align: center
}

.number_of_day span {
    display: block;
    font: 15px "Montserrat-Regular";
    color: #fff;
    text-transform: capitalize;
}

.number_of_day .days_calendar {
    margin-top: 15px;
}

.number_of_day .month_calendar {
    margin-top: 3px;
}

.calendar_breaking-news a {
    text-decoration: none;
}

.calendar_breaking-news .border_tittle {
    display: block;
    margin-top: -4px;
    width: 261px;
    height: 69px;
    border: 1px #f0f2f3 solid;
}


.calendar_breaking-news .pictures_tittle {
    margin-top: -4px;
    margin-left: 16px;
    font: 17px "Montserrat-Bold";
    color: #717171;
    text-transform: capitalize;
    line-height: 2.23;
}

.calendar_breaking-news .comment_pictures {
    display: block;
    margin-top: -10px;
    margin-left: 16px;
    font: 13px "Montserrat-Light";
    color: #777777;
    line-height: 2.89;
}

.calendar_breaking-news:last-child {
    margin-bottom: 132px;
}

.reviews-about-us {
    position: relative;
    background-image: url("../img/background/section-3.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg_opacity_reviews::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.txt_first_reviews {
    margin-top: 92px;
    font: 36px "Montserrat-Regular";
    color: #fff;
    text-transform: capitalize;
    line-height: 1.11;
    z-index: 5;
}

.txt_first_reviews span {
    text-transform: lowercase;
}

.img_reviews {
    margin-top: 54px;
    z-index: 5;
}

.blockquote_reviews {
    margin-top: 35px;
    width: 1097px;
    height: 46px;
    font: 16px "Montserrat-Light";
    color: #bbb;
    text-align: center;
    line-height: 1.88;
    z-index: 5;
}

.name_man_reviews {
    margin-top: 27px;
    font: 16px "Montserrat-Bold";
    color: #18cfab;
    text-transform: uppercase;
    z-index: 5;
}

.work_man_reviews {
    margin-top: 12px;
    font: 13px "Montserrat-Light";
    color: #bbbbbb;
    z-index: 5;
}

.border_img_reviews, .border_img_preview_js {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-top: 13px;
    width: 164px;
    height: 163px;
    border-radius: 50%;
    background-color: rgba(31, 218, 181, 0.2);
    z-index: 5;
}

.border_second_reviews, .border_second_preview {
    width: 142px;
    height: 141px;
    border-radius: 50%;
    border: 1px #18cfab solid;

}

.border_second_reviews img {
    width: 142px;
    height: 141px;
}


.carousel_reviews {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
    margin-bottom: 99px;
    z-index: 5;

}
.carousel_wrapper{
    float: left;
    overflow: hidden;
    width: 325px;
    height: 80px;
}

.carousel_children {
    display: flex;
    flex-flow: row;
    /*justify-content: center;*/
    align-items: center;
    position: relative;
    height: 80px;
}
.carousel_children_none {
    display: flex;
    flex-flow: row;
    /*justify-content: center;*/
    align-items: center;
    position: relative;
    height: 80px;
}

/*.carousel_children_none {*/
/*    display: none;*/
/*}*/

.btn_left, .btn_right {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 31px;
    height: 31px;
    border: 1px #bbbbbb solid;
    margin-top: 13px;
    z-index: 5;
}

.btn_left i, .btn_right i {
    color: #bbbbbb;
}

.btn_left {
    margin-right: 30px;
}

.btn_left:hover, .btn_right:hover {
    background-color: #18cfab;
}

.border_img_preview_js {
    width: 58px;
    height: 58px;
    margin-right: 30px;
}


.border_second_preview {
    width: 51px;
    height: 51px;
    border: 0 #18cfab solid;
}

.border_second_preview img {
    width: 51px;
    height: 51px;
}

.border_second_preview.activeCarousel {
    width: 52px;
    height: 52px;
    background-color: #878787;
    border: 1px #18cfab solid;

}

.border_img_preview_js.activeCarousel {
    margin-top: -23px;
}


.gallery-best-img {
    border: 1px slateblue solid;
}

.txt_first_gallery {
    margin-top: 90px;
    font: 36px "Montserrat-Regular";
    color: #4e4e4e;
}


.gallery_position {
    box-sizing: border-box;
    display: flex;
    flex-flow: row;
}

.gallery_parent {
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.gallery_column {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.gallery_panel {
    display: flex;
    margin: 10px;
}

.img_dimensions {
    width: 370px;
    height: 259px;
}

.img_dimensions_second {
    width: 370px;
    height: 379px;
}

.img_dimensions_two_pictures img {
    width: 180px;
    height: 168px;
}

.img_dimensions_nine_pictures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-content: center;
    grid-gap: 3px;
}

.img_dimensions_nine_pictures img {
    width: 120px;
    height: 92px;
}


footer {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    height: 108px;
    background-color: #22353f;
    margin-bottom: 20px;
}

.txt_footer {
    font: 14px "Montserrat-Light";
    color: #aeaeae;
    line-height: 1.86;

}

.the_ham {
    color: #18cfab;
}

.vertical_line_footer {
    border-right: 1px #aeaeae solid;
    margin-left: 5px;
    margin-right: 5px;
}


.animation-load {
    display: none;
    padding-bottom: 100px;
    height: 50px;
    width: 50px;
    background: url("../img/our-work/AnimationLoad.gif")no-repeat;
}

