body {
    font-family: sans-serif;
}

.header {
    height: 463px;
    background-color: black;
    color: #ffffff;
}

.header-container {
    display: flex;
    height: 66px;
}

.logo {
    height: 63px;
}

.logo-text {
    display: flex;
    text-decoration: none;
    color: #ffffff;
    align-items: center;
}

.fz22px {
    font-size: 22px;
    padding: 15px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-basis: 650px;
}

.link {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 15px;
}

.link:hover {
    text-decoration: underline;
}

.image-search{
    cursor: pointer;
    width: 63px;
    height: 63px;
}

.parallax {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../img/header-bg.jpeg");
    min-height: 404px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -3px;
}

.slogan {
    display: flex;
    text-transform: uppercase;
    font-size: 27px;
    padding-top: 137px;
    justify-content: center;

}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 44px;
}

.btn {
    width: 170px;
    height: 55px;
    font-size: 18px;
    line-height: 55px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
}

.btn1 {
    background-color: #89ca62;
}

.btn2 {
    background-color: #14b9d5;
    margin-left: 20px;
}

.btn:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.main-theme {
    padding-top: 43px;
    background-color: #f2f2f2;
}

.posts {
    text-align: center;
    font-size: 27px;
}

.link2 {
    text-decoration: none;
    color: #353a3d;
    line-height: 1.2;
}

.article-slogan {
    text-transform: uppercase;
    color: #18b4cf;
}

.hover {
    margin-bottom: 31px;
    transform: scaleX(1.0) scaleY(1.0);
    transition: scale .5s ease-in;
}

.hover:hover {
    transform: scaleX(1.1) scaleY(1.1);
    z-index: 100;
}

.cont {
    max-width: 1170px;
    margin: 0 auto;
}

.posts-pics {
    margin-top: 52px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 31px;
    height: 900px;

}

.sign {
    font-size: 18px;
    width: 370px;
    height: 61px;
    background-color: #fff;
    line-height: 55px;
    margin-top: -5px;
    margin-left: 10px;
}

.parallax2 {
    background-image: url("../img/parallax-bg.jpeg");
    min-height: 590px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -27px;
    margin-bottom: 53px;
}

.slogan2 {
    display: flex;
    text-transform: uppercase;
    font-size: 27px;
    padding-top: 201px;
    justify-content: center;
    color: #ffffff;
}

.basic-line {
    border: 3px solid #18b4cf;
    width: 60px;
    margin: 50px auto;
}

.clients {
    display: grid;
    grid-template-columns: 207px 135px 172px 141px;
    grid-gap: 76px;
    justify-content: center;
}

.slogan3 {
    text-transform: uppercase;
    color: #18b4cf;
    font-size: 27px;
    text-align: center;
    margin-bottom: 50px;
}

.top-rated {
    display: grid;
    height: 297px;
    width: 100%;
    grid-template-columns: repeat(7, 14.3%);
    margin-top: 53px;
    box-sizing: border-box;
    overflow: hidden;
}

/*.slogan4 {*/
    /*text-transform: uppercase;*/
    /*color: #18b4cf;*/
    /*font-size: 27px;*/
    /*text-align: center;*/
    /*margin-bottom: 50px;*/
/*}*/

.mansory-1,
.mansory-2 {
    display: inline-block;
}

.mansory-block {
    display: grid;
    grid-template-columns: 483px 2fr 1fr;
    grid-template-rows: 259px;
    box-sizing: border-box;
}


.mansory-block2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 417px;
    grid-column-gap: 60px;
    margin: 45px 0;
    box-sizing: border-box;
}

.mansory-block3 {
    display: grid;
    grid-template-columns: 1fr 2fr 483px;
    grid-template-rows: 259px;
    box-sizing: border-box;
}

.mansory-2,
.mansory-10 {
    width: 373px;
    height: 259px;
    background-color: #f9f7f7;
}

.mansory-8 {
    margin-right: 35px;
}

.text {
    width: 554px;
    height: 159px;
    background-color: #f9f7f7;
    margin-top: -2px;
}

.mansory-title {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    padding: 20px 27px 22px 0;
}

.mansory-title2 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
}

.mansory-text {
    font-size: 14px;
    text-align: right;
    margin: 0 27px 0 22px;
}

.small-container {
    width: 277px;
    height: 50px;
    background-color: #f9f7f7;
    margin-top: -2px;
}

.footer {
    width: 100%;
    height: 80px;
    background-color: #000000;
    color: #ffffff;
}

.cont-footer {
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: 20fr 1fr 1fr;
    line-height: 85px;
    margin-top: 71px;
}

.footer-logo {
    margin-top: 35px;
    margin-left: 10px;
}

.fz12px {
    font-size: 12px;
}

.menu-homework-15 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    height: 70px;
    background-color: #000000;
}

.menu-homework-15 a {
    margin-right: 37px;
    font: 15px OpenSans-Semibold;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.button-top {
    background-color: #000;
    color: #fff;
    position: fixed;
    top: 250px;
    right: 20px;
    border-radius: 50px 50px;
    height: 50px;
}

.button-top:active,
.button-top:focus{
    outline: none;
}

.button-toggle {
    width: 150px;
    height: 50px;
    background-color: #1d2124;
    color: #fff;
    position: relative;
    top: -141px;
}

.button-toggle:active,
.button-toggle:focus{
    outline: none;
}


